body {
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(64, 64, 194, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
}

.heading {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center; /* Center align the items */
}

.card-container {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; /* Adjust as needed */
    margin-top: 20px;
}

.column {
    flex: 1;
    margin: 0 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 50px;
}
/* Optional: Adjust styling for smaller screens */
@media (max-width: 768px) {
    .column {
        flex-basis: calc(50% - 20px);
    }
}
