body {
    background-color: #002e6a;
}

h1 {
    display: flex;
    color: white;
    font-size: 60px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    margin-top: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.card form {
    margin-top: 20px;
}

.card form label {
    display: flexbox;
    font-weight: bold;
    margin-bottom: 5px;
}

.card form input[type="text"],
.card form textarea,
.card form select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card form button {
    background-color: #002e6a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.card form button:hover {
    background-color: #ffffff;
    color: black;
}
