body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00295f;
}

.success {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.success h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.isianform {
    margin-bottom: 10px;
}

.isianform p {
    margin: 5px 0;
}

.message {
    text-align: center;
}
